/* COLOUR REFERENCES

Green:		#79b044
Salmon:		#dd5638
Blue Gray:  #3e4249

*/

/* ==== GENERAL ==== */

body {
	margin-top: 50px;
	font-family: 'proxima-nova', 'Raleway', Helvetica, sans-serif;
	font-size: 16px;
}



/* ==== GLOBAL ==== */

h1,h2,h3,h4,h5,h6 {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-weight: bold;
}

h1 {
	font-size: 3em;
}

h1,h2 {
	margin: 0 0 40px;
}
/*
h3 {
	margin: 20px 0;
}

h4 {
	font-size: 18px;
}*/

p.lead {
	font-weight: normal;
}

p {
	margin: 0 0 15px;
}

a:link, a:visited {
	color: #dd5638;
}

a:hover {
	text-decoration: none;
	color: #c9302c;
}

img {
	max-width: 100%;
}


/* Nav/Hero /*Web Developer/Desinger logo*/
#head {
  text-align: center;
	vertical-align: middle;
	margin-bottom:10px
}


#hero {
	background: url('../img/notebook-computer-chill-relax-medium.jpg') 50% 0 repeat fixed;
	min-height: 500px;
	position: relative;
	display: table;
	width: 100%;
	padding: 40px 0;
	color: white;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

.img-circular{
 width: 200px;
 height: 200px;
 background-image: url('assests/img/Me.jpg');
 background-size: cover;
 display: block;
}
#hero .hero-text {
	margin-top: 30px;
}


/* Layout*/
.row + .row {
	margin-top: 20px;
	text-align: center;
}

section {
	padding: 80px 0;
}

.section-header {
	text-align: center;
}

section h2 {
	margin: 20px 0 40px;
}

#about-me {
	background: white;
}

#project-features {
	text-align: center;
}


footer {
	background: #3e4247;
	color: white;
	padding: 20px 0 10px;
	font-size: 12px;
}



	/* ==== MEDIA QUERIES ==== */
