

/* ==== GENERAL ==== */

body {
	margin-top: 50px;
	font-family: 'proxima-nova', 'Raleway', Helvetica, sans-serif;
	font-size: 16px;
}


.jumbotron-heading {
  font-weight: 100px;
}

/* ==== GLOBAL ==== */

h1,h2,h3,h4,h5,h6 {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-weight: bold;
}

h1 {
	font-size: 3em;
}

h1,h2 {
	margin: 0 0 40px;
}

h3 {
	margin: 20px 0;
}



p.lead {
	font-weight: normal;
}

p {
	margin: 0 0 15px;
}



/* Nav/Hero /*Web Developer/Desinger logo*/


#hero {
	text-align: center;
	font-style: italic;
	font-weight: lighter;
	font-size: 20px;
	background-color: grey;
	min-height: 500px;
	position: relative;
	display: table;
	width: 100%;
	padding: 40px 0;
	color: white;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}





/* Layout*/
.row + .row {
	margin-top: 20px;
	text-align: center;
}

section {
	padding: 80px 0;
}

.section-header {
	text-align: center;
}

section h2 {
	margin: 20px 0 40px;
}

#about-me {
	background: white;
}

#project-features {
	text-align: center;
}


.footer {
	position: relative;
	width: 700px;
	margin: 0 auto;

}





	/* ==== MEDIA QUERIES ==== */
